<template>
  <q-page class="busca">
    <q-drawer
      v-model="filtros"
      :width="tamanhoJanela"
      :breakpoint="500"
      overlay
      bordered
      content-class="bg-white"
      side="right"
    >
      <div class="flex q-px-md q-my-sm justify-between items-center">
        <div class="text-h6 text-secondary">Filtrar</div>
        <q-btn
          @click="filtros = false"
          icon="close"
          flat
          round
          color="secondary"
        />
      </div>
      <div class="q-px-sm q-my-sm" style="width: 100%">
        <hr />
      </div>
      <div class="q-px-md">
        <Filtros style="max-width: 100%;" />
      </div>
    </q-drawer>
    <Header />
    <section>
      <div class="container">
        <div class="row q-col-gutter-sm">
          <div class="col-xs-12 col-sm-4 col-md-3" v-show="$q.screen.gt.sm">
            <Filtros />
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9">
            <div class="col-12 q-mb-md" v-show="$q.screen.lt.md">
              <q-btn
                label="Filtrar"
                color="secondary"
                unelevated
                no-caps
                style="width: 100%"
                @click="filtros = true"
              />
            </div>
            <div class="flex items-center justify-between">
              <div class="resultados">
                Encontramos <b>102 Resultados em BelaVista</b>
              </div>
              <div class="ordenar">
                <div class="flex items-center">
                  <span>Ordenar por:</span>
                  <q-select
                    value="Relevância"
                    class="q-ml-md"
                    outlined
                    color="secondary"
                    dense
                    :options="['Relevância', 'Maior Preço', 'Menor Preço']"
                  />
                </div>
              </div>
            </div>
            <div class="row q-col-gutter-md q-my-md busca-resultado">
              <div
                class="col-xs-12 col-md-4 mobile"
                v-for="(card, index) in Array.from(new Array(12))"
                :key="index"
              >
                <CardImovel />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </q-page>
</template>

<script src="./Busca.js"></script>

<style lang="scss">
.busca {
  & .q-drawer {
    z-index: 9999999999999999;
  }
  & section {
    padding: 80px 0;
  }
  & .resultados {
    font-size: 16px;
    line-height: 22px;
    color: #828282;
    & b {
      color: black;
      font-weight: bold;
    }
  }
  & .q-select {
    border: 1px solid $secondary !important;
    border-radius: 5px;
    &:focus {
      outline: none !important;
    }
    & .q-field__native {
      & span {
        color: $secondary;
      }
    }
    & .q-field__append {
      & i {
        color: $secondary;
      }
    }
  }
  & .busca-resultado {
    & [class*="card"] {
      width: 276px;
    }
    & .mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        text-align: center;
      }
      & p {
        text-align: center;
      }
      & .q-btn {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 599px) {
.busca {
  & .ordenar {
    margin-top: 30px!important;
  }
}
}
</style>
