<template>
  <q-page class="home">
    <header class="home-header">
      <q-img src="../assets/home-banner.jpg" />
      <!-- <img src="../assets/home.jpg" /> -->
      <div class="conteudo">
        <div class="column items-center">
          <h1>
            Encontre o imóvel ideal nas <br />regiões mais nobres de São Paulo
          </h1>
          <p>
            Busque por: <span  @click="irRota('anuncio', { id: 'apartamento' })">Apartamento</span>, <span  @click="irRota('anuncio', { id: 'casas' })">Casas</span> ou
            <span  @click="irRota('anuncio', { id: 'coberturas' })">Coberturas</span>
          </p>
          <q-btn @click="descer" round icon="expand_more" color="white" outline />
        </div>
      </div>
    </header>
    <section ref="destaques" class="destaques" id="destaques">
      <div class="container flex flex-center" style="width: 100%;">
        <div class="busca">
          <q-input
            borderless
            bg-color="white"
            placeholder="Pesquise por Referência"
            v-model="busca"
            @keyup.enter="buscar"
          >
            <template v-slot:append>
              <q-icon class="q-px-md cursor-pointer" @click="buscar">
                <svg
                  width="28"
                  height="28"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 11.8512V22.6061C28 23.2076 27.5078 23.6997 26.9062 23.6997C26.3047 23.6997 25.8125 23.2076 25.8125 22.6061V12.3597L14 2.51787L2.1875 12.3597V25.8102H13.9781C14.5797 25.8102 15.0719 26.3023 15.0719 26.9037C15.0719 27.5052 14.5797 27.9973 13.9781 27.9973H1.09375C0.492188 27.9973 0 27.5052 0 26.9037V11.8512C0 11.5286 0.142187 11.2169 0.39375 11.0092L13.3 0.254247C13.7047 -0.0847491 14.2953 -0.0847491 14.7 0.254247L27.6062 11.0092C27.8578 11.2169 28 11.5231 28 11.8512ZM23.3734 26.1328C23.8 26.5593 23.8 27.2537 23.3734 27.6801C22.9469 28.1066 22.2523 28.1066 21.8258 27.6801L17.0516 22.9069C12.8133 25.2033 7.50859 22.1523 7.50859 17.215C7.50859 13.6501 10.4125 10.7467 13.9781 10.7467C19.6 10.7467 22.5039 17.4228 18.7797 21.5454L23.3734 26.1328ZM13.9781 21.4907C16.3406 21.4907 18.2602 19.5716 18.2602 17.2095C18.2602 14.8475 16.3406 12.9283 13.9781 12.9283C11.6156 12.9283 9.69609 14.8475 9.69609 17.2095C9.69609 19.5716 11.6156 21.4907 13.9781 21.4907Z"
                    fill="#BDBDBD"
                  />
                </svg>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div class="row q-col-gutter-xl" style="width: 100%;">
          <div class="col-xs-12 column flex-center col-md-3 mobile">
            <h2>Imóveis em<br />Destaque</h2>
            <p>
              Navegue pela nossa seleção de imóveis nas melhores áreas nobres de
              São Paulo.
            </p>
            <q-btn no-caps label="Ver todos" outline />
          </div>
          <div class="col-xs-12 col-md-9 relative-position">
            <CarrosselCards width="250px" :cards="Array.from(new Array(20))" />
          </div>
        </div>
      </div>
    </section>
    <section class="procura">
      <div class="container">
        <div class="row items-center">
          <div class="col-12 flex flex-center q-mb-lg">
            <div class="column">
              <h2>O que você está procurando?</h2>
              <p>Escolha qual tipo de imóvel deseja</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-10 offset-md-1 flex flex-center">
            <div class="row q-col-gutter-md">
              <div class="col-xs-12 col-md-4 col-sm-6 mobile">
                <CardProcura :tipo="'Casas'" />
              </div>
              <div class="col-xs-12 col-md-4 col-sm-6 mobile">
                <CardProcura :tipo="'Apartamentos'" />
              </div>
              <div class="col-xs-12 col-md-4 col-sm-6 mobile">
                <CardProcura :tipo="'Coberturas'" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="box-vender">
      <q-img src="../assets/parque.png"></q-img>
      <div class="conteudo">
        <div class="column items-center">
          <p>
            Quer VENDER ou ALUGAR seu
          </p>
          <h1>IMÓVEL?</h1>
          <q-btn @click="irRota('contato')" unelevated no-caps label="Entre em contato" />
        </div>
      </div>
    </section>
  </q-page>
</template>

<script src="./Index.js"></script>

<style lang="scss">
.home-header {
  min-height: 70vh;
  height: 70vh;
  overflow: hidden;
  position: relative;
  margin-top: -140px;
  & .q-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    & .q-img__image {
      background-position: 60% 60%;
    }
  }
  & .conteudo {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(#283138, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    & h1 {
      color: white;
      font-size: 44px;
      line-height: 45px;
      text-align: center;
    }
    & p {
      font-size: 16px;
      line-height: 37px;
      color: white;
      text-align: center;
      margin: 60px 0 40px 0;
      & span {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    & .q-btn {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.destaques {
  background: #f9f9f9;
  padding-bottom: 60px;
  & .mobile {
    display: flex;
    align-items: flex-start;
    & h2 {
      text-align: left;
    }
    & p {
      text-align: left;
    }
  }
  & .busca {
    margin-top: -30px;
    margin-bottom: 90px;
    z-index: 99999;
    width: 100%;
    max-width: 750px;
    & .q-input {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      & .q-field__control {
        border-radius: 5px;
      }
      & input {
        padding: 0 20px !important;
      }
    }
  }
  & h2 {
    font-size: 36px;
    line-height: 34px;
    color: $primary;
    font-weight: bold;
    position: relative;
    &:before {
      content: "Imóveis";
      font-size: 72px;
      font-weight: bold;
      position: absolute;
      top: -20px;
      left: -30px;
      color: rgba(#bdbdbd, 0.2);
    }
  }
  & p {
    color: #828282;
    font-size: 16px;
    line-height: 20px;
  }
  & .q-btn {
    border: 1px solid rgba(206, 145, 50, 0.2) !important;
    font-size: 16px;
    line-height: 22px;
    color: $secondary;
    padding: 0 20px;
  }
}
.procura {
  padding-top: 150px;
  padding-bottom: 120px;
  & h2 {
    font-size: 36px;
    line-height: 34px;
    color: $primary;
    font-weight: bold;
    position: relative;
    margin: 0;
    text-align: center;
    &:before {
      content: "Imóveis";
      font-size: 72px;
      font-weight: bold;
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(#bdbdbd, 0.2);
    }
  }
  & p {
    color: #828282;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin: 10px 0;
    text-align: center;
  }
}
.box-vender {
  min-height: 360px;
  width: 100%;
  position: relative;
  & .q-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  & .conteudo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba($primary, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    & p {
      font-size: 22px;
      line-height: 30px;
      color: white;
      margin: 0;
      text-align: center;
    }
    & h1 {
      margin: 0;
      font-size: 77px;
      line-height: 105px;
      color: white;
      font-weight: 900;
      text-align: center;
    }
    & .q-btn {
      font-size: 16px !important;
      line-height: 22px;
      padding: 0 18px;
      width: 230px;
      background: rgb(255, 131, 33);
      color: white;
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: 599px) {
  .home-header {
    height: 120vh;
    margin-top: -200px;
    & .conteudo {
      padding: 120px 20px 10px 20px;
    }
  }
  .destaques {
    .mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        text-align: center;
      }
      & p {
        text-align: center;
      }
      & .q-btn {
        margin: 0 auto;
      }
    }
  }
  .procura {
    .mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}
</style>
