<template>
  <q-page class="anuncio">
    <Header />
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="flex items-center justify-between">
              <h2>Apartamentos – HIGIENOPOLIS – SAO PAULO</h2>
              <div class="ref">Ref. 39124</div>
            </div>
            <p>
              <q-icon>
                <svg
                  width="13"
                  height="15"
                  viewBox="0 0 13 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.7545 1.90137C9.56588 0.673828 7.98199 0 6.30142 0C4.61801 0 3.03412 0.673828 1.8455 1.90137C0.656872 3.12891 0 4.75781 0 6.48926C0 8.22363 0.654028 9.85254 1.8455 11.0801L5.19242 14.5283C5.48815 14.833 5.88057 15 6.30142 15C6.71943 15 7.11469 14.833 7.40758 14.5283L10.7545 11.0801C11.9431 9.85547 12.6 8.22363 12.6 6.48926C12.6 4.75781 11.946 3.12598 10.7545 1.90137ZM10.1517 10.459L6.80474 13.9072C6.67109 14.0449 6.49194 14.1211 6.30142 14.1211C6.1109 14.1211 5.93175 14.0449 5.7981 13.9072L2.44834 10.459C1.41896 9.39844 0.853081 7.98926 0.853081 6.48926C0.853081 4.98926 1.41896 3.58008 2.44834 2.52246C3.47773 1.46191 4.8455 0.878906 6.30142 0.878906C7.75735 0.878906 9.12512 1.46191 10.1517 2.52246C12.2758 4.71094 12.2758 8.27051 10.1517 10.459Z"
                    fill="#ABABAB"
                  />
                  <path
                    d="M6.30127 4.33572C4.94027 4.33572 3.83154 5.42041 3.83154 6.75189C3.83154 8.08338 4.94027 9.16807 6.30127 9.16807C7.66227 9.16807 8.77101 8.08338 8.77101 6.75189C8.76789 5.41736 7.66227 4.33572 6.30127 4.33572ZM6.30127 8.25096C5.45415 8.25096 4.76587 7.5776 4.76587 6.74885C4.76587 5.92009 5.45415 5.24673 6.30127 5.24673C7.1484 5.24673 7.83668 5.92009 7.83668 6.74885C7.83357 7.5776 7.14528 8.25096 6.30127 8.25096Z"
                    fill="#ABABAB"
                  />
                </svg>
              </q-icon>
              ITAIMBI – SAO PAULO
            </p>
          </div>
          <div class="col-12 row q-col-gutter-md">
            <div class="col-xs-12 col-md-6">
              <Carrossel :imgs="imgs" />
            </div>
            <div class="col-xs-12 col-md-6 row">
              <div class="col-xs-12 col-md-6 q-py-lg">
                <q-btn no-caps color="secondary" outline>
                  <div>
                    Adicionar aos favoritos
                    <q-icon
                      color="secondary"
                      name="favorite_border"
                      class="q-ml-xs"
                    />
                  </div>
                </q-btn>
                <div class="column q-my-md divisao">
                  <p class="compra">
                    COMPRA
                  </p>
                  <h1>R$ 2.200.000,00</h1>
                  <div class="taxa">Condomínio: R$ 4.164,00</div>
                  <div class="taxa">Valor do IPTU: R$ 1.372,00</div>
                </div>
                <div class="row q-col-gutter-md items">
                  <div class="col-xs-12 col-sm-6">
                    <div class="row items-center">
                      <div class="col-3">
                        <q-icon>
                          <svg
                            width="31"
                            height="27"
                            viewBox="0 0 31 27"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M29.6513 15.0769H29.1487V13.5692C29.1487 12.5704 28.5582 11.6658 27.641 11.27V3.51795C27.641 3.31692 27.5217 3.13474 27.3395 3.05936C27.5342 2.74525 27.641 2.3809 27.641 2.01026C27.641 0.898333 26.7427 0 25.6308 0C24.5188 0 23.6205 0.898333 23.6205 2.01026C23.6205 2.36205 23.721 2.71384 23.8969 3.01538H6.25692C6.4391 2.71384 6.53333 2.36205 6.53333 2.01026C6.53333 0.898333 5.635 0 4.52307 0C3.41115 0 2.51282 0.898333 2.51282 2.01026C2.51282 2.3809 2.61961 2.74525 2.81436 3.05936C2.63218 3.13474 2.51282 3.31692 2.51282 3.51795V11.27C1.59564 11.672 1.00513 12.5704 1.00513 13.5692V15.0769H0.502564C0.226154 15.0769 0 15.3031 0 15.5795V22.6154C0 22.8918 0.226154 23.1179 0.502564 23.1179H1.00513V25.6308C1.00513 25.9072 1.23128 26.1333 1.50769 26.1333H3.51795C3.79436 26.1333 4.02051 25.9072 4.02051 25.6308V23.1179H26.1333V25.6308C26.1333 25.9072 26.3595 26.1333 26.6359 26.1333H28.6461C28.9225 26.1333 29.1487 25.9072 29.1487 25.6308V23.1179H29.6513C29.9277 23.1179 30.1538 22.8918 30.1538 22.6154V15.5795C30.1538 15.3031 29.9277 15.0769 29.6513 15.0769ZM25.6308 1.00513C26.1836 1.00513 26.6359 1.45744 26.6359 2.01026C26.6359 2.56308 26.1836 3.01538 25.6308 3.01538C25.0779 3.01538 24.6256 2.56308 24.6256 2.01026C24.6256 1.45744 25.0779 1.00513 25.6308 1.00513ZM4.52307 1.00513C5.07589 1.00513 5.5282 1.45744 5.5282 2.01026C5.5282 2.56308 5.07589 3.01538 4.52307 3.01538C3.97025 3.01538 3.51795 2.56308 3.51795 2.01026C3.51795 1.45744 3.97025 1.00513 4.52307 1.00513ZM3.51795 4.02051H26.6359V11.0564H24.6131C24.946 10.6229 25.1282 10.0953 25.1282 9.54871V8.54358C25.1282 7.15525 24.0037 6.03077 22.6154 6.03077H18.5949C17.2065 6.03077 16.082 7.15525 16.082 8.54358V9.54871C16.082 10.0953 16.2642 10.6229 16.5972 11.0564H13.5567C13.8896 10.6229 14.0718 10.0953 14.0718 9.54871V8.54358C14.0718 7.15525 12.9473 6.03077 11.559 6.03077H7.53846C6.15012 6.03077 5.02564 7.15525 5.02564 8.54358V9.54871C5.02564 10.0953 5.20782 10.6229 5.54077 11.0564H3.51795V4.02051ZM24.1231 8.54358V9.54871C24.1231 10.3842 23.4509 11.0564 22.6154 11.0564H18.5949C17.7593 11.0564 17.0872 10.3842 17.0872 9.54871V8.54358C17.0872 7.70807 17.7593 7.03589 18.5949 7.03589H22.6154C23.4509 7.03589 24.1231 7.70807 24.1231 8.54358ZM13.0667 8.54358V9.54871C13.0667 10.3842 12.3945 11.0564 11.559 11.0564H7.53846C6.70294 11.0564 6.03077 10.3842 6.03077 9.54871V8.54358C6.03077 7.70807 6.70294 7.03589 7.53846 7.03589H11.559C12.3945 7.03589 13.0667 7.70807 13.0667 8.54358ZM2.01026 13.5692C2.01026 12.7337 2.68243 12.0615 3.51795 12.0615H26.6359C27.4714 12.0615 28.1436 12.7337 28.1436 13.5692V15.0769H2.01026V13.5692ZM3.01538 25.1282H2.01026V23.1179H3.01538V25.1282ZM28.1436 25.1282H27.1384V23.1179H28.1436V25.1282ZM29.1487 22.1128H1.00513V16.082H29.1487V22.1128Z"
                              fill="#D4D4D4"
                            />
                          </svg>
                        </q-icon>
                      </div>
                      <div class="col-9">
                        <div class="item">3 quartos</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="row items-center">
                      <div class="col-3">
                        <q-icon>
                          <svg
                            width="27"
                            height="27"
                            viewBox="0 0 27 27"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M25.6697 0H0.433352C0.193734 0 0 0.193734 0 0.433352V14.79C0 15.0297 0.193734 15.2234 0.433352 15.2234H7.83093V25.6646C7.83093 25.9043 8.02466 26.098 8.26428 26.098H25.6646C25.9043 26.098 26.098 25.9043 26.098 25.6646V0.433352C26.1031 0.193734 25.9094 0 25.6697 0ZM25.2313 25.2313H8.70273V14.79C8.70273 14.5504 8.50899 14.3567 8.26938 14.3567H0.871802V0.871802H25.2364V25.2313H25.2313Z"
                              fill="#D4D4D4"
                            />
                            <path
                              d="M2.1771 13.4849H8.26952C8.50914 13.4849 8.70287 13.2912 8.70287 13.0515V10.4412H9.57467V13.0515C9.57467 13.2912 9.76841 13.4849 10.008 13.4849H15.662V14.3567H10.008C9.76841 14.3567 9.57467 14.5504 9.57467 14.7901V23.9261C9.57467 24.1657 9.76841 24.3595 10.008 24.3595H16.4981C16.5134 24.3646 16.5338 24.3697 16.5491 24.3697L19.1339 24.3595H23.9314C24.171 24.3595 24.3647 24.1657 24.3647 23.9261V14.7901C24.3647 14.5504 24.171 14.3567 23.9314 14.3567H22.1929V13.4849H23.9314C24.171 13.4849 24.3647 13.2912 24.3647 13.0515V2.17696C24.3647 1.93734 24.171 1.74361 23.9314 1.74361H10.008C9.76841 1.74361 9.57467 1.93734 9.57467 2.17696V3.91546H8.70287V2.17696C8.70287 1.93734 8.50914 1.74361 8.26952 1.74361H2.1771C1.93748 1.74361 1.74375 1.93734 1.74375 2.17696V13.0515C1.73865 13.2912 1.93748 13.4849 2.1771 13.4849ZM10.4414 16.967H12.1799V21.7543H10.4414V16.967ZM16.9519 17.8337L21.3007 17.8184L21.316 21.3107L19.1441 21.3209L16.9671 21.3311L16.9519 17.8337ZM19.5877 22.1876L21.3262 22.1825L21.3313 23.4877L19.5928 23.4928L19.5877 22.1876ZM16.9722 22.1978L18.7159 22.1927L18.721 23.4979H16.9824L16.9722 22.1978ZM15.2286 4.34882H16.1004V6.08732H15.2286V4.34882ZM16.9671 4.34882H19.5775V5.65397H16.9671V4.34882ZM20.4493 4.34882H21.3211V6.08732H20.4493V4.34882ZM21.7544 2.61031V3.48211H14.7902V2.61031H21.7544ZM7.83107 2.61031V4.34882C7.83107 4.58843 8.0248 4.78217 8.26442 4.78217H9.7939L13.1435 8.96784C13.2913 9.15647 13.5666 9.18706 13.7552 9.03412C13.9439 8.88627 13.9745 8.61096 13.8215 8.42233L10.4363 4.19077V2.61031H13.9184V3.91546C13.9184 4.15508 14.1121 4.34882 14.3517 4.34882V6.52577C14.3517 6.76539 14.5455 6.95913 14.7851 6.95913H16.5236C16.7632 6.95913 16.957 6.76539 16.957 6.52577H19.5775C19.5775 6.76539 19.7712 6.95913 20.0108 6.95913H21.7493C21.9889 6.95913 22.1827 6.76539 22.1827 6.52577V4.34882C22.4223 4.34882 22.616 4.15508 22.616 3.91546V2.61031H23.4878V12.6182H21.887L17.6503 9.65101C17.4515 9.51845 17.1864 9.56434 17.0487 9.76317C16.9111 9.962 16.957 10.2271 17.1507 10.3648L21.316 13.281V14.7951C21.316 15.0348 21.5097 15.2285 21.7493 15.2285H23.4878V23.4928H22.198L22.1878 21.7492C22.1878 21.7441 22.1878 21.7441 22.1878 21.739C22.1878 21.7339 22.1878 21.7339 22.1878 21.7288L22.1674 17.3749C22.1674 17.1352 21.9736 16.9415 21.734 16.9415L16.5134 16.9619C16.3961 16.9619 16.2891 17.0078 16.2075 17.0894C16.1259 17.1709 16.0801 17.2831 16.0801 17.4004L16.1106 23.4877H10.4414V22.6159H12.6183C12.858 22.6159 13.0517 22.4221 13.0517 22.1825V16.5337C13.0517 16.294 12.858 16.1003 12.6183 16.1003H10.4414V15.2285H16.0953C16.335 15.2285 16.5287 15.0348 16.5287 14.7951V13.0515C16.5287 12.8119 16.335 12.6182 16.0953 12.6182H10.4414V10.0079C10.4414 9.76827 10.2476 9.57453 10.008 9.57453H8.26952C8.0299 9.57453 7.83617 9.76827 7.83617 10.0079V12.6182H2.61045V11.7464H4.78741C5.02703 11.7464 5.22076 11.5527 5.22076 11.313V3.91546C5.22076 3.67585 5.02703 3.48211 4.78741 3.48211H2.61045V2.61031H7.83107ZM2.61045 4.34882H4.34896V10.8746H2.61045V4.34882Z"
                              fill="#D4D4D4"
                            />
                          </svg>
                        </q-icon>
                      </div>
                      <div class="col-9">
                        <div class="item">239m²</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="row items-center">
                      <div class="col-3">
                        <q-icon>
                          <svg
                            width="28"
                            height="28"
                            viewBox="0 0 28 28"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M26.4935 13.0135H25.5621V12.5505C25.5621 11.7825 24.9357 11.1561 24.1677 11.1561H17.6642C16.8962 11.1561 16.2698 11.7825 16.2698 12.5505V13.0135H3.25178V3.72111C3.25178 2.26135 4.37383 1.05215 5.82814 0.937765C7.28245 0.828828 8.57336 1.85829 8.79124 3.3017C7.46765 3.54137 6.50355 4.6961 6.50355 6.04148V6.50446C6.50355 6.76046 6.71053 6.96744 6.96654 6.96744H11.6127C11.8687 6.96744 12.0757 6.76046 12.0757 6.50446V6.04148C12.0757 4.67431 11.0789 3.50868 9.72265 3.29081C9.51022 1.33539 7.79446 -0.108032 5.82814 0.00635186C3.86183 0.120736 2.32581 1.74935 2.32581 3.72111V13.0189H1.3944C0.626389 13.0189 0 13.6398 0 14.4079C0 14.9961 0.375834 15.5245 0.931413 15.7151V19.517C0.93686 22.9267 3.57314 25.7537 6.97198 25.9988V26.489C6.97198 27.257 7.59837 27.8834 8.36638 27.8834C9.13439 27.8834 9.76078 27.257 9.76078 26.489V26.026H18.1272V26.489C18.1272 27.257 18.7535 27.8834 19.5216 27.8834C20.2896 27.8834 20.916 27.257 20.916 26.489V25.9988C24.3148 25.7537 26.9511 22.9267 26.9565 19.517V15.7151C27.5121 15.519 27.8825 14.9961 27.8879 14.4079C27.8825 13.6398 27.2615 13.0189 26.4935 13.0135ZM11.1552 6.04148H7.43497C7.43497 5.01202 8.26834 4.1841 9.29235 4.1841C10.3164 4.1841 11.1552 5.01747 11.1552 6.04148ZM23.7047 13.0135V12.5505C23.7047 12.2945 23.9117 12.0875 24.1677 12.0875C24.4237 12.0875 24.6307 12.2945 24.6307 12.5505V13.0135H23.7047ZM17.1957 12.5505C17.1957 12.2945 17.4027 12.0875 17.6587 12.0875H22.855C22.8006 12.2346 22.7733 12.3925 22.7679 12.5505V17.6651H18.5847C18.3287 17.6651 18.1217 17.8721 18.1217 18.1281C18.1217 18.3841 18.3287 18.591 18.5847 18.591H22.7679V19.5225H17.1957V12.5505ZM8.82936 26.4944C8.82936 26.7504 8.62238 26.9574 8.36638 26.9574C8.11038 26.9574 7.9034 26.7504 7.9034 26.4944V26.0315H8.83481V26.4944H8.82936ZM19.9845 26.4944C19.9845 26.7504 19.7776 26.9574 19.5216 26.9574C19.2656 26.9574 19.0586 26.7504 19.0586 26.4944V26.0315H19.99V26.4944H19.9845ZM20.453 25.1H7.43497C4.35749 25.0946 1.86283 22.5999 1.85738 19.5225V15.8023H13.944C14.2 15.8023 14.407 15.5953 14.407 15.3393C14.407 15.0833 14.2 14.8763 13.944 14.8763H1.3944C1.26912 14.8763 1.14929 14.8273 1.06214 14.7347C0.974988 14.6475 0.925967 14.5331 0.925967 14.4133C0.925967 14.1573 1.13295 13.9503 1.38895 13.9503H16.2643V19.5279C16.2643 19.8602 16.4441 20.1652 16.7273 20.3286V21.3853C16.7273 21.6413 16.9343 21.8483 17.1903 21.8483C17.4463 21.8483 17.6533 21.6413 17.6533 21.3853V20.4539H18.5847V21.3853C18.5847 21.6413 18.7917 21.8483 19.0477 21.8483C19.3037 21.8483 19.5107 21.6413 19.5107 21.3853V20.4539H20.4421V21.3853C20.4421 21.6413 20.6491 21.8483 20.9051 21.8483C21.1611 21.8483 21.368 21.6413 21.368 21.3853V20.4539H22.2995V21.3853C22.2995 21.6413 22.5064 21.8483 22.7624 21.8483C23.0184 21.8483 23.2254 21.6413 23.2254 21.3853V20.3286C23.5141 20.1652 23.6884 19.8602 23.6884 19.5279V15.8077H26.0142V19.5279C26.0251 22.5999 23.5304 25.0946 20.453 25.1ZM26.4935 14.8763H23.7047V13.9449H26.4935C26.6188 13.9449 26.7386 13.9939 26.8258 14.0865C26.9129 14.1736 26.962 14.288 26.9565 14.4079C26.9565 14.6639 26.7495 14.8763 26.4935 14.8763Z"
                              fill="#D5D5D5"
                            />
                            <path
                              d="M9.76093 8.36728C9.76093 8.11128 9.55395 7.9043 9.29794 7.9043C9.04194 7.9043 8.83496 8.11128 8.83496 8.36728V8.83026C8.83496 9.08627 9.04194 9.29325 9.29794 9.29325C9.55395 9.29325 9.76093 9.08627 9.76093 8.83026V8.36728Z"
                              fill="#D5D5D5"
                            />
                            <path
                              d="M9.29794 10.2247C9.04194 10.2247 8.83496 10.4317 8.83496 10.6877V11.1506C8.83496 11.4066 9.04194 11.6136 9.29794 11.6136C9.55395 11.6136 9.76093 11.4066 9.76093 11.1506V10.6877C9.76093 10.4371 9.55395 10.2247 9.29794 10.2247Z"
                              fill="#D5D5D5"
                            />
                            <path
                              d="M7.66352 7.51213L7.33671 7.84439C7.15696 8.02958 7.16241 8.32371 7.34215 8.50346C7.52735 8.68321 7.82148 8.67776 8.00122 8.49801L8.32804 8.16576C8.50778 7.98056 8.50234 7.68643 8.32259 7.50669C8.1374 7.32149 7.84327 7.32694 7.66352 7.51213Z"
                              fill="#D5D5D5"
                            />
                            <path
                              d="M6.0351 9.16796L5.70829 9.50022C5.52854 9.68541 5.53399 9.97954 5.71374 10.1593C5.89893 10.339 6.19306 10.3336 6.37281 10.1538L6.69962 9.82158C6.87936 9.63639 6.87392 9.34226 6.69417 9.16251C6.50898 8.98277 6.21485 8.98821 6.0351 9.16796Z"
                              fill="#D5D5D5"
                            />
                            <path
                              d="M10.2729 7.50122C10.0877 7.68097 10.0877 7.9751 10.2674 8.16029L10.5942 8.49255C10.7086 8.61238 10.8829 8.6614 11.0409 8.61783C11.2043 8.57425 11.3296 8.45442 11.3732 8.29102C11.4167 8.13306 11.3732 7.95876 11.2588 7.83893L10.932 7.50667C10.8448 7.41952 10.7304 7.3705 10.6051 7.36505C10.4799 7.3705 10.36 7.41952 10.2729 7.50122Z"
                              fill="#D5D5D5"
                            />
                            <path
                              d="M11.8904 9.82159L12.2172 10.1538C12.3316 10.2737 12.5059 10.3227 12.6639 10.2791C12.8273 10.2355 12.9526 10.1157 12.9961 9.95231C13.0397 9.79435 12.9961 9.62005 12.8817 9.50022L12.5549 9.16796C12.3752 8.98277 12.0811 8.98277 11.8959 9.16252C11.7161 9.34226 11.7107 9.6364 11.8904 9.82159Z"
                              fill="#D5D5D5"
                            />
                            <path
                              d="M8.82914 23.2427H7.43475C5.38128 23.2427 3.71999 21.5759 3.71454 19.5225C3.71454 19.2665 3.50756 19.0595 3.25156 19.0595C2.99555 19.0595 2.78857 19.2665 2.78857 19.5225C2.79402 22.0879 4.86928 24.1686 7.43475 24.1686H8.82914C9.08515 24.1686 9.29213 23.9617 9.29213 23.7057C9.29758 23.4497 9.08515 23.2427 8.82914 23.2427Z"
                              fill="#D5D5D5"
                            />
                            <path
                              d="M3.25156 18.1281C3.50756 18.1281 3.71454 17.9211 3.71454 17.6651V17.2021C3.71454 16.9461 3.50756 16.7391 3.25156 16.7391C2.99555 16.7391 2.78857 16.9461 2.78857 17.2021V17.6651C2.78857 17.9211 2.99555 18.1281 3.25156 18.1281Z"
                              fill="#D5D5D5"
                            />
                          </svg>
                        </q-icon>
                      </div>
                      <div class="col-9">
                        <div class="item">1 suíte</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="row items-center">
                      <div class="col-3">
                        <q-icon>
                          <svg
                            width="24"
                            height="20"
                            viewBox="0 0 24 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M23.0821 7.61542L22.559 7.06158L20.7231 2.11286C20.4103 1.27696 19.6103 0.723115 18.7179 0.717987H5.60513C4.71282 0.717987 3.91282 1.27696 3.6 2.11286L1.78974 7.00004L1.0359 7.69747C0.379487 8.25645 0 9.07696 0 9.9385V17.1488C0.00512821 18.3282 0.964103 19.2821 2.14359 19.2821H3.49744C4.67692 19.2821 5.6359 18.3282 5.64103 17.1488V16.1026H18.359V17.1488C18.3641 18.3282 19.3231 19.2821 20.5026 19.2821H21.8564C23.0359 19.2821 23.9949 18.3282 24 17.1488V9.74876C23.9949 8.94363 23.6667 8.1744 23.0821 7.61542ZM4.5641 2.46158C4.72821 2.02568 5.14359 1.74363 5.60513 1.74363H18.7231C19.1846 1.74363 19.6 2.03081 19.7641 2.46158L21.3641 6.76927H20.1692C19.8872 4.84619 18.0974 3.51799 16.1744 3.80517C14.641 4.03081 13.4359 5.23594 13.2103 6.76927H2.9641L4.5641 2.46158ZM19.1231 6.76927H14.2462C14.5282 5.42055 15.8513 4.55901 17.2 4.84106C18.1641 5.04619 18.9179 5.80004 19.1231 6.76927ZM4.61538 17.1488C4.61026 17.7641 4.11282 18.2564 3.49744 18.2564H2.14359C1.52821 18.2564 1.03077 17.7641 1.02564 17.1488V15.8052C1.33333 16.0052 1.73846 16.1026 2.14359 16.1026H4.61538V17.1488ZM22.9744 17.1488C22.9692 17.7641 22.4718 18.2564 21.8564 18.2564H20.5026C19.8872 18.2564 19.3897 17.759 19.3846 17.1488V16.1026H21.8564C22.2615 16.1026 22.6667 16.0052 22.9744 15.8052V17.1488ZM21.8564 15.077H2.14359C1.53333 15.0821 1.03077 14.5949 1.02564 13.9795V9.9385C1.02564 9.3744 1.27692 8.83594 1.70769 8.47183C1.71282 8.4667 1.72308 8.45645 1.72821 8.45132L2.42564 7.79491H21.8462L22.3385 8.32312C22.3436 8.33337 22.359 8.3385 22.3641 8.34876C22.7487 8.71286 22.9692 9.22055 22.9692 9.74876V13.9795H22.9744C22.9692 14.5898 22.4667 15.0821 21.8564 15.077Z"
                              fill="#D5D5D5"
                            />
                            <path
                              d="M6.76913 9.84619H2.92298C2.64093 9.84619 2.41016 10.077 2.41016 10.359V13.0257C2.41016 13.3077 2.64093 13.5385 2.92298 13.5385H6.76913C7.05118 13.5385 7.28195 13.3077 7.28195 13.0257V10.359C7.28195 10.077 7.05118 9.84619 6.76913 9.84619ZM6.25631 12.5129H3.4358V10.8718H6.25631V12.5129Z"
                              fill="#D5D5D5"
                            />
                            <path
                              d="M21.0767 9.84619H17.2306C16.9485 9.84619 16.7178 10.077 16.7178 10.359V13.0257C16.7178 13.3077 16.9485 13.5385 17.2306 13.5385H21.0767C21.3588 13.5385 21.5896 13.3077 21.5896 13.0257V10.359C21.5896 10.077 21.3588 9.84619 21.0767 9.84619ZM20.5639 12.5129H17.7434V10.8718H20.5639V12.5129Z"
                              fill="#D5D5D5"
                            />
                            <path
                              d="M14.4769 12H9.52307C9.24102 12 9.01025 12.2308 9.01025 12.5129C9.01025 12.7949 9.24102 13.0257 9.52307 13.0257H14.4769C14.759 13.0257 14.9897 12.7949 14.9897 12.5129C14.9897 12.2308 14.759 12 14.4769 12Z"
                              fill="#D5D5D5"
                            />
                            <path
                              d="M14.4769 10.4103H9.52307C9.24102 10.4103 9.01025 10.6411 9.01025 10.9231C9.01025 11.2052 9.24102 11.4359 9.52307 11.4359H14.4769C14.759 11.4359 14.9897 11.2052 14.9897 10.9231C14.9897 10.6411 14.759 10.4103 14.4769 10.4103Z"
                              fill="#D5D5D5"
                            />
                          </svg>
                        </q-icon>
                      </div>
                      <div class="col-9">
                        <div class="item">3 vagas</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 q-my-lg q-px-sm">
                <h4>Agende uma visita</h4>
                <div class="column">
                  <q-input
                    class="input-contato"
                    dense
                    label="Seu Nome*"
                    outlined
                  />
                  <q-input
                    class="input-contato"
                    dense
                    type="email"
                    label="Email* "
                    outlined
                  />
                  <q-input
                    class="input-contato"
                    dense
                    mask="(##) #####-####"
                    label="Telefone"
                    outlined
                  />
                  <div class="flex items-center q-my-xs">
                    <q-checkbox
                      v-model="whatsapp"
                      dense
                      color="positive"
                      size="xs"
                    />
                    <div class="label-checkbox" @click="whatsapp = !whatsapp">
                      Entrar em contato pelo
                      <span>Whatsapp <q-icon name="fab fa-whatsapp"/></span>
                    </div>
                  </div>
                  <q-input
                    class="input-contato"
                    dense
                    label="Mensagem"
                    outlined
                    type="textarea"
                    style="min-height:100px"
                  />
                  <q-btn
                    color="secondary"
                    class="q-my-xs"
                    label="Enviar"
                    no-caps
                    unelevated
                    style="width: 100%"
                  />
                  <q-btn
                    color="secondary"
                    label="Compartilhar"
                    unelevated
                    outline
                    icon="share"
                    no-caps
                    style="width: 100%"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="descricao">
      <div class="container">
        <div class="row" style="width: 100%;">
          <div class="wrap row">
            <div
              :class="
                $q.screen.gt.sm ? 'container-sobreposto' : 'col-xs-12 col-md-6'
              "
            >
              <h5>Descrição</h5>
              <p>
                Apartamento de tirar o fôlego! Amplo living revestido por
                sofisticados painéis em lâmina de madeira natural, que abrigam
                uma linda adega/bar. Cozinha gourmet com ilha pode ser
                totalmente integrada à sala de jantar, por porta de correr. 3
                suítes, sendo a master de 63 m² com walk-in closet e um banho
                spa dos sonhos, com banheira, dois chuveiros de teto e ampla
                bancada com duas cubas. Fotos ilustrativas do projeto. Previsão
                de entrega Setembro/2020.
              </p>
            </div>
            <div class="col-xs-12 col-md-6 offset-md-6">
              <img
                style="object-fit: container; max-width: 100%; height: auto;"
                src="~assets/anuncio-descricao.png"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <hr />
    </div>
    <section>
      <div class="container">
        <div class="row q-col-gutter-md">
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-12 q-mb-md">
                <h5>Características do Imóvel</h5>
              </div>
              <div
                class="col-xs-12 col-sm-6 q-my-sm"
                v-for="(caracteristica, index) in caracteristicas"
                :key="index"
              >
                <div class="flex items-center">
                  <span class="select-check q-mr-sm">
                    <q-icon name="check" />
                  </span>
                  <div class="select-item">
                    {{ caracteristica }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-12 q-mb-md">
                <h5>Características do Condomínio</h5>
              </div>
              <div
                class="col-xs-12 col-sm-6 q-my-sm"
                v-for="(caracteristica, index) in condominio"
                :key="index"
              >
                <div class="flex items-center">
                  <span class="select-check q-mr-sm">
                    <q-icon name="check" />
                  </span>
                  <div class="select-item">
                    {{ caracteristica }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="localizacao">
      <div class="container">
        <div class="row">
          <div class="col-12 q-my-md">
            <h5>Localização</h5>
          </div>
        </div>
      </div>
      <q-img src="../../assets/localizacao.png" />
    </section>
    <section class="sugestoes">
      <div class="container flex flex-center">
        <div class="row" style="width: 100%;">
          <div class="col-xs-12 column mobile">
            <h2>Sugestões de imóveis pra você</h2>
          </div>
          <div class="col-xs-10 offset-xs-1 col-sm-12 q-my-lg">
            <CarrosselCards :configs="settings" width="265px" :cards="Array.from(new Array(20))" />
          </div>
        </div>
      </div>
    </section>
  </q-page>
</template>

<script src="./Anuncio.js"></script>

<style lang="scss">
.anuncio {
  & hr {
    border: none;
    border-top: 1px solid rgba(196, 196, 196, 0.4);
  }
  & section {
    padding: 80px 0;
    background: white;
  }
  & .select-check {
    background: rgba(206, 145, 50, 0.15);
    border-radius: 2px;
    padding: 5px;
    box-sizing: border-box;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    & .q-icon {
      font-size: 14px;
      color: $secondary;
    }
    & .select-item {
      font-size: 16px;
      line-height: 34px;
      color: #333;
      margin: 0;
      margin-left: 7px;
    }
  }
  & .sugestoes {
    & h2 {
      font-size: 36px;
      line-height: 34px;
      color: $primary;
      font-weight: bold;
      position: relative;
      text-align: center;
      &:before {
        content: "Imóveis";
        font-size: 72px;
        font-weight: bold;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        color: rgba(#bdbdbd, 0.2);
      }
    }
    & .mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        text-align: center;
      }
      & p {
        text-align: center;
      }
      & .q-btn {
        margin: 0 auto;
      }
    }
  }
  & .descricao {
    position: relative;
    padding: 40px 0;
    & .wrap {
      position: relative;
      width: 100%;
      & .container-sobreposto {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-width: 740px;
        top: 50%;
        transform: translateY(-51%);
        left: 0px;
        padding: 0px 0px 10px 10px;
        box-sizing: border-box;
        height: auto;
        background: white;
        min-height: 220px;
        & p {
          font-size: 16px;
          line-height: 23px;
          color: #828282;
          margin: 0;
          margin-top: 20px;
          max-width: 700px;
        }
      }
    }
  }
  & h2 {
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  & p {
    font-size: 18px;
    line-height: 25px;
    color: #ababab;
  }
  & .divisao {
    padding-bottom: 20px;
    border-bottom: 1px solid #c4c4c4;
  }
  & h5 {
    font-size: 28px;
    line-height: 38px;
    color: #333;
    font-weight: 600;
    margin: 0;
  }
  & .ref {
    font-size: 14px;
    line-height: 19px;
    color: #bdbdbd;
  }
  & .compra {
    font-size: 18px;
    line-height: 25px;
    color: #4f4f4f;
    margin: 0;
  }
  & .taxa {
    font-size: 18px;
    line-height: 25px;
    color: #bdbdbd;
  }
  & h1 {
    font-size: 33px;
    line-height: 45px;
    color: #333333;
    font-weight: bold;
    margin: 0;
  }
  & .q-btn {
    & > div {
      font-size: 20px;
      line-height: 27px;
      color: $secondary;
    }
    & .q-icon {
      font-size: 18px;
    }
  }
  & .label-checkbox {
    font-size: 14px;
    line-height: 19px;
    color: #828282;
    margin-left: 5px;
    cursor: pointer;
    & span {
      font-weight: bold;
      color: $positive;
    }
  }
  & h4 {
    font-size: 22px;
    line-height: 30px;
    color: #828282;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
  }
  & .q-input {
    margin-bottom: 5px;
  }
  & .items {
    & .q-icon {
      font-size: 25px;
    }
    & .item {
      font-size: 16px;
      line-height: 22px;
      color: #ababab;
    }
  }
}
</style>
